
<!--appearance="fill"-->
<div class="wrapper">
  <div><img class="logo" src='../assets/kafedra.png'></div>
<div [formGroup]="dataForDocument" class="formContainer">
<mat-form-field >
  <mat-label>Уровень образования</mat-label>
  <mat-select formControlName="urovenObraz">
    <mat-option *ngFor="let item of data.UrovenObraz; let i" [value]="i">{{item}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field  >
  <mat-label>Программа</mat-label>
  <mat-select formControlName="profil">
    <mat-option class="with" *ngFor="let item of data.Profil; let i" [value]="i">{{item}}</mat-option>
    <!--    <mat-option value="two">Second option</mat-option>-->
  </mat-select>
</mat-form-field>

<mat-form-field>
<!--  <mat-label>Дисциплина</mat-label>-->
  <input matInput type="text" placeholder="Дисциплина" [formControl]="formControl" formControlName="disciplina" [matAutocomplete]="auto">

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let item of autoFilter | async" [value]="item">
      {{item}}
    </mat-option>
  </mat-autocomplete>

</mat-form-field>

<!--<mat-form-field  >-->
<!--  <mat-label>Год начала подготовки</mat-label>-->
<!--  <input matInput [matDatepicker]="picker">-->
<!--&lt;!&ndash;  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>&ndash;&gt;-->
<!--  <mat-datepicker #picker startView="year"></mat-datepicker>-->
<!--</mat-form-field>-->

  <mat-form-field>
    <mat-label>Год начала подготовки</mat-label>
    <input formControlName="date" matInput type="text" >
  </mat-form-field>


<mat-form-field   >
  <mat-label>Место дисциплины в структуре образовательной программы</mat-label>
  <mat-select formControlName="mestoVStructure">
    <mat-option *ngFor="let item of data.MestoVStructure; let i" [value]="i">{{item}}</mat-option>
    <!--    <mat-option value="two">Second option</mat-option>-->
  </mat-select>
</mat-form-field>

<section class="button-alignment">
  <div class="button-row-left">
    <button (click)="saveData()" mat-raised-button>Сформировать документ</button>
  </div>
  <div class="button-row-right">
    <button mat-raised-button>Скачать документ</button>
  </div>
</section>
</div>
</div>
