:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
}

 .mat-form-field {
  width: 500px !important;
   display: block;
   /*padding-top: 11px;*/
   padding-bottom: 22px;
}
 .mat-label {
  width: 500px !important;
}
 .mat-select {
  width: 500px !important;
}

 .mat-option {
  width: 500px !important;
}

.mat-raised-button {
  background-color: #496289;
  color: white;
}
.wrapper {
  margin: 0 auto;
  padding-top: 40px;
}
.logo {
  width: 300px;
}
.button-alignment{
  display: flex;
  justify-content: space-between;
}
